name: Selenium Tests with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the repo
    - name: Checkout repository
      uses: actions/checkout@v4

    # Step 2: Set up JDK (Java 17 for Selenium 4+)
    - name: Build with Maven
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # Step 3: Navigate into project folder & build with Maven
    - name: Build with Maven
      run: mvn clean install
    # Set the directory where the pom.xml is located
      working-directory: ./CubesEduSeleniumMaster 
