name: Selenium Tests with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Check out the repo
    - uses: actions/checkout@v4
    - name: Checkout repository
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: maven clean test
      working-directory: ./CubesEduSeleniumMaster 


      
